/target
/lib
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
*.msi
*.wixpdb
*.wixproj.*.txt
*.wixobj
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
/test-data/rss*
/test-data/sample*
.DS_Store
Thumbs.db
.lein-repl-history
